<% provide(:title,"About") %>

<h3>こっちにおいで、家族になろうよ</h3><br>

<h4><a href="/">You are zozo</a>は、一人でも多くの人たちを支えたい、そんな想いで作られました。<br>
    <br>おもいっきり楽しんで、おもいっきり笑える一日にしよう。<br>
    <br>みんなが幸せで、みんなを幸せにできる居場所。<br>
    <br>ちょっとの勇気が、あなたを一気に変える。<br>
    <br>みんなちがうけど、みんないっしょ。<br>
</h4>

<%= link_to image_tag("twitter.png", alt: "twitter logo"), 'https://twitter.com/ZOZOIncPR/' %>
<%= link_to image_tag("fb.jpg", alt: "fb logo"), 'https://www.facebook.com/ZOZOIncPR/' %>         
