<footer class="footer">
  <small>
    You are ZOZO ©HARRY..Programming
  </small>
  <nav>
    <ul>
      <li><a href="https://corp.zozo.com/contact/">Contact</li>
      <li><a href="https://corp.zozo.com/news/">News</a></li>
    </ul>
  </nav>
</footer>